body{
    /* background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg'); */
    background-color: bisque;
}

.boxSpace{
    /* border-style: groove;
    border-radius: 100px;
    border-color: rgba(210, 105, 30, 0.342);
    border-bottom: 30px; */
    opacity: 100%;
    margin: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.tableSpace{
    /* border-style: groove;
    border-radius: 100px;
    border-color: rgba(210, 105, 30, 0.342);
    border-bottom: 30px; */
    opacity: 100%;
    margin: 5%;
    padding-left: 20%;
    padding-right: 20%;
}