
body{
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg')
}

.transbox{
    /* background-color: black; */
    /* border-left: 30%; */
}

.title{
    font-size: 150%;
}


.loginSpace{
    /* border-style: groove;
    border-radius: 100px;
    border-color: rgba(210, 105, 30, 0.342);
    border-bottom: 30px; */
    opacity: 100%;
    margin: 10%;
    padding-left: 30%;
    padding-right: 30%;
}
